<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>きょうのニャンコ</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>きょうのニャンコ</h1>
        </header>

        <section class="information">
            <p>ニャンコたちが</p>
            <p>巣穴周辺で動き回る様子をセンサー検知して録画します</p>
            <p>過去１２回分の見守りカメラ録画記録を確認できます</p>
        </section>
    </div>
    <div class="box1">
        <div class="section2">
            <h2>　ねこベッド1</h2>
            <img src="img/bed1.jpg" width="500">
            <ol>
                <li><a href="bed1/bed1.html" target="_blank">最新</a></li>
                <li><a href="bed1/bed1-2.html" target="_blank">一回前</a></li>
                <li><a href="bed1/bed1-3.html" target="_blank">二回前</a></li>   
                <li><a href="bed1/bed1-4.html" target="_blank">三回前</a></li>
                <li><a href="bed1/bed1-5.html" target="_blank">四回前</a></li>
                <li><a href="bed1/bed1-6.html" target="_blank">五回前</a></li> 
                <li><a href="bed1/bed1-7.html" target="_blank">六回前</a></li>
                <li><a href="bed1/bed1-8.html" target="_blank">七回前</a></li>
                <li><a href="bed1/bed1-9.html" target="_blank">八回前</a></li>   
                <li><a href="bed1/bed1-10.html" target="_blank">九回前</a></li>
                <li><a href="bed1/bed1-11.html" target="_blank">十回前</a></li>
                <li><a href="bed1/bed1-12.html" target="_blank">十一回前</a></li>  
            </ol>
        </div>
<!--        <div class="section2">
            <h2>　ねこベッド2</h2>
            <a href="#"><img src="img/bed2.jpg" alt="" width="500">
            </a>
            <ol>    
                <li><a href="bed2/bed2.html" target="_blank">最新</a></li>
                <li><a href="bed2/bed2-2.html" target="_blank">一回前</a></li>
                <li><a href="bed2/bed2-3.html" target="_blank">二回前</a></li>   
                <li><a href="bed2/bed2-4.html" target="_blank">三回前</a></li>
                <li><a href="bed2/bed2-5.html" target="_blank">四回前</a></li>
                <li><a href="bed2/bed2-6.html" target="_blank">五回前</a></li>  
                <li><a href="bed2/bed2-7.html" target="_blank">六回前</a></li>
                <li><a href="bed2/bed2-8.html" target="_blank">七回前</a></li>
                <li><a href="bed2/bed2-9.html" target="_blank">八回前</a></li>   
                <li><a href="bed2/bed2-10.html" target="_blank">九回前</a></li>
                <li><a href="bed2/bed2-11.html" target="_blank">十回前</a></li>
                <li><a href="bed2/bed2-12.html" target="_blank">十一回前</a></li> 
            </ol>
        </div>   
    </div>
    <div class="box1">
        <div class="section2">
            <h2>　ねこベッド3</h2>
            <a href="#"><img src="img/bed3.jpg" alt="" width="500">
            </a>
            <ol>   
                <li><a href="bed3/bed3.html" target="_blank">最新</a></li>
                <li><a href="bed3/bed3-2.html" target="_blank">一回前</a></li>
                <li><a href="bed3/bed3-3.html" target="_blank">二回前</a></li>   
                <li><a href="bed3/bed3-4.html" target="_blank">三回前</a></li>
                <li><a href="bed3/bed3-5.html" target="_blank">四回前</a></li>
                <li><a href="bed3/bed3-6.html" target="_blank">五回前</a></li>
                <li><a href="bed3/bed3-7.html" target="_blank">六回前</a></li>
                <li><a href="bed3/bed3-8.html" target="_blank">七回前</a></li>
                <li><a href="bed3/bed3-9.html" target="_blank">八回前</a></li>   
                <li><a href="bed3/bed3-10.html" target="_blank">九回前</a></li>
                <li><a href="bed3/bed3-11.html" target="_blank">十回前</a></li>
                <li><a href="bed3/bed3-12.html" target="_blank">十一回前</a></li> 
            </ol>
        </div>
        <div class="section2">
            <h2>　ねこ道</h2>
            <a href="#"><img src="img/tableside.jpg" alt="" width="500">
            </a>
            <ol>
                <li><a href="tableside/tableside.html" target="_blank">最新</a></li>
                <li><a href="tableside/tableside-2.html" target="_blank">一回前</a></li>
                <li><a href="tableside/tableside-3.html" target="_blank">二回前</a></li>   
                <li><a href="tableside/tableside-4.html" target="_blank">三回前</a></li>
                <li><a href="tableside/tableside-5.html" target="_blank">四回前</a></li>   
                <li><a href="tableside/tableside-6.html" target="_blank">五回前</a></li>
                <li><a href="tableside/tableside-7.html" target="_blank">六回前</a></li>
                <li><a href="tableside/tableside-8.html" target="_blank">七回前</a></li>
                <li><a href="tableside/tableside-9.html" target="_blank">八回前</a></li>   
                <li><a href="tableside/tableside-10.html" target="_blank">九回前</a></li>
                <li><a href="tableside/tableside-11.html" target="_blank">十回前</a></li>
                <li><a href="tableside/tableside-12.html" target="_blank">十一回前</a></li> 
            </ol>
        </div>  
    </div>-->
</body>